@import url(./common.css);

body {
}

.logo-lg {
  display: flex;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-text {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.06em;
}

.intro_1 {
  background-image: url(../resources/intro_1.png);
  background-size: cover;
}
.intro_2 {
  background-image: url(../resources/intro_2.png);
  background-size: cover;
}
.intro_3 {
  background-image: url(../resources/intro_3.png);
  background-size: cover;
}
.intro_4 {
  background-image: url(../resources/intro_4.png);
  background-size: cover;
}

.bg-main_img {
  height: 690px;
  position: relative;
}

.bg-main_img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.bg-main_img .header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.bg-main_img .header .header-inner {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content1 .logo-wrap {
  width: 100% !important;
  height: 100% !important;
}

.slick-list,
.slick-track {
  height: 100% !important;
}

.logo-prev {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 200px;
  background-color: #000000;
  color: #fff;
}

.prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.logo-prev.active {
  width: 250px;
}

.logo-prev.active .sumnail {
  position: relative;
  height: 200px;
}

.logo-prev.active .sumnail img {
  width: 100%;
  height: 100%;
}

.logo-prev.active svg {
  display: none;
}

.bg-main_img .header .header-inner .inner-left {
  display: flex;
  align-items: center;
}

.bg-main_img .header .header-inner .inner-right {
  display: flex;
  align-items: center;
}
.bg-main_img .header .header-inner .inner-right div {
  margin-right: 30px;
}

.bg-main_img .header .header-inner .inner-right div:last-child {
  margin-right: 0px;
}

/* contents */
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content1 {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.content1 .inner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content1 .inner .text-wrap {
  margin-top: 40px;
  text-align: center;
  line-height: 46px;
}

.content2 {
  height: 560px;
}

.content2 .subtext {
  margin-top: 25px;
  margin-bottom: 60px;
}

.content2 .google-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.content2 .google-btn .google-img {
  margin-right: 10px;
}

.content3 {
  height: 570px;
  flex-direction: row;
}

.phone-img {
  margin: 0 40px;
}

.content-text-wrap {
  margin: 0 40px;
}

.content-text-wrap .subtitle {
}

.content-text-wrap .title {
  margin-top: 25px;
  line-height: 70px;
}

.content-text-wrap .title .b {
  font-weight: 700;
}

.content4 {
  height: 570px;
  flex-direction: row-reverse;
}

.content5 {
  height: 570px;
  flex-direction: row;
}

.content6 {
  height: 570px;
  flex-direction: row-reverse;
}

.content4,
.content6 .content-text-wrap {
  text-align: right;
}

.content7 {
  height: 440px;
  text-align: center;
}

.content8 {
  height: 640px;
  background-image: url("../resources/content8-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.content8 .title {
  padding-top: 320px;
  padding-left: 230px;
}

.content9 {
  min-height: 910px;
}

.content9 .title {
  display: flex;
  align-items: flex-end;
}

.content9 .title .title-text {
  margin-bottom: 30px;
  margin-left: 20px;
}

.content9 .qes-wrap {
  margin-top: 40px;
  width: 80%;
  padding: 1em;
  background-color: #fff;
}

.content9 .qes-wrap .qesEl {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  font-weight: 700;
}

.content9 .qes-wrap .qesEl span:hover {
  border: 2px solid #009f78;
}

.content9 .qes-wrap .qesEl span {
  display: flex;
  width: 100%;
  border: 2px solid #fff;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.content9 .qes-wrap .qesEl.active span {
  color: #009f78 !important;
  border: 2px solid #009f78;
}

.content9 .qes-wrap .qesEl .qesEl-open {
  display: none;
  border-bottom: 1px solid #eeeeee;
  padding: 24px;
  line-height: 30px;
  letter-spacing: -0.05em;
  opacity: 0;
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

.content9 .qes-wrap .qesEl.active .qesEl-open {
  display: inline-block;
  opacity: 1;
}

.content10 {
  height: 800px;
}

.content10 .inner {
  width: 80%;
  margin: 0 auto;
  height: inherit;
  padding-top: 150px;
}

.content10 .inner .title {
  letter-spacing: -0.05em;
}

.content10 .inner .subtitle {
  margin-top: 15px;
  margin-bottom: 50px;
}

.content10 .inner .paragraph {
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 25px;
  letter-spacing: -0.05em;
  font-size: 18px;
}

.content11 {
  height: 360px;
}

.content11 .icon-wrap {
  height: 250px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content11 .icon-wrap .icon-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content11 .icon-wrap .icon-box .iconEl {
  width: 128px;
  height: 128px;
  border-radius: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.content11 .icon-wrap .icon-box .icon-text {
  text-align: center;
}

.content12 {
  background-image: url("../resources/content12-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
}

.content12::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000000 53.12%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 0.7;
  z-index: -1;
}

.content12 .inner {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 150px;
}

.content12 .subtitle {
  margin-left: 5px;
  padding: 0.5em 0;
}

.content12 .history-wrap {
  position: relative;
  width: 200px;
  height: 100%;
  margin: 50px 0 0 5px;
  padding-bottom: 3em;
}

.content12 .history-wrap::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  border: 1px solid #009f78;
  height: 100%;
}

.content12 .history-year {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 44px;
  background-color: #009f78;
}

.content12 .history-year.mt1 {
  margin-top: 1.5em;
}

.content12 .history-item-wrap {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.content12 .history-item {
  display: flex;
  position: relative;
  padding: 1.5em 0;
  width: 100%;
}

.content12 .history-item .yearMonth {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  color: #009f78;
  left: 10%;
}

.content12 .history-item .point {
  position: absolute;
  display: inline-block;
  left: calc(50% - 5px);
  z-index: 99;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #009f78;
  border: 1px solid #ffffff;
}

.content12 .history-item .title {
  position: absolute;
  width: 400px;
  left: 60%;
  right: 0;
}

.footer {
  background-color: #1e1e1e;
}

.footer .inner {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
}

.footer .inner .percent-7 {
  width: 80%;
}

.footer .inner .flex {
  display: flex;
}

.footer .inner .flex.column {
  flex-direction: column;
}

.footer .inner .flex.between {
  justify-content: space-between;
}

.footer .inner .p-1 {
  padding: 1em 0;
}

.footer .inner .pt {
  padding-top: 3em;
}

.mobile-btn-wrap {
  display: none;
}

.mobile-menu-wrap {
  display: none;
}

.content2 .title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content2 .title-ml {
  margin-bottom: 10px;
  margin-right: 20px;
}

.content2 .title .logo {
  height: 70%;
}

.footer-info span + span {
  padding-left: 1.5em;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    /* width: 100vh; */
  }

  .header {
    opacity: 1 !important;
  }

  .bg-main_img {
    height: 300px;
  }

  .bg-main_img .content1 {
    margin-top: 60px;
  }

  .bg-main_img .header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background: #283136;
    opacity: 0.9;
    height: 60px;
  }

  .inner-right {
    display: none !important;
  }

  .mobile-btn-wrap {
    display: block;
    color: #fff;
  }

  .mobile-btn-wrap span {
    display: none;
  }

  .mobile-btn-wrap span.active {
    display: block;
  }

  .mobile-menu-wrap {
    position: absolute;
    top: 60px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .mobile-menu-wrap.active {
    display: block;
  }

  .mobile-menu-wrap span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7f8;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
  }

  .bg-main_img .header .header-inner {
    width: 95%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .inner .percent-7 {
    width: 100%;
  }

  .phone-img {
    margin: 0;
  }

  .phone-img img {
    width: 150px;
  }

  .content-text-wrap {
    margin: 0;
  }

  .content-text-wrap .title {
    margin-top: 10px;
    line-height: 40px;
  }

  .content2 {
    height: 400px;
  }

  .content2 .title-ml {
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .content2 .subtext {
    margin: 1em 0;
    margin-bottom: 2em;
  }

  .content2 .title img.logo-l {
    width: 100px;
  }

  .content3 {
    height: 250px;
  }

  .content4 {
    height: 250px;
  }

  .content5 {
    height: 250px;
  }

  .content6 {
    height: 250px;
  }
  .content7 {
    height: 200px;
  }

  .content8 {
    display: flex;
    align-items: flex-end;
    padding: 0 0 2em 2em;
    height: 250px;
  }

  .content8 .title {
    padding: 0;
    line-height: 40px;
  }

  .content9 {
    height: unset;
    padding-bottom: 2em;
  }

  .content9 .title {
    margin-top: 1em;
  }
  .content9 .title img {
    width: 70px;
  }

  .content9 .title .title-text {
    margin: 0;
    margin-bottom: 20px;
  }

  .content9 .qes-wrap {
    margin-top: 20px;
  }

  .content9 .qes-wrap span,
  .content9 .qes-wrap p {
    font-size: 12px;
  }
  .content10 {
    height: unset;
  }
  .content10 .inner {
    padding-top: 2em;
  }

  .content10 .inner .paragraph {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .content10 .inner .subtitle {
    margin-bottom: 1em;
  }

  .content11 {
    height: 200px;
  }
  .content11 .icon-wrap {
    height: 200px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
  }

  .content11 .icon-wrap .icon-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .content11 .icon-wrap .icon-box + .icon-box {
    padding-left: 1em;
  }

  .content11 .icon-wrap .icon-box .iconEl {
    width: 88px;
    height: 88px;
    border-radius: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .content11 .icon-wrap .icon-box .icon-text {
    text-align: center;
  }

  .content12 .history-item .title {
    width: 100%;
    font-size: 11px;
  }

  .content12 .inner {
    padding-top: 50px;
  }

  .mo-icon {
    width: 78px;
    height: 78px;
  }

  .footer-info {
    font-size: 10px;
    flex-direction: column;
  }
  .footer-info > div {
  }
  .footer-info > div + div {
    padding-top: 1em;
  }
}
